.container {
    padding: 16px;
    margin-top: 8px;
}

.container::first-letter {
    text-transform: capitalize;
}


.error {
    color: var(--red-color-base);
}

.warning {
    color: var(--orange-color-light);
}

.success {
    color: var(--lime-color-base);
}